.breadcrumb-item {
    font-size: 10px;
    text-decoration: underline;
}

span.active-item.active {
    color: black;
}

.disabled-item {
    text-decoration: none;
}

.breadcrumb {
    position: fixed;
    top: 60px;
    background-color: white;
    padding: 3px 30px;
}
